body{
 background-color:white;
}

h1{
   background-color: blue; color:rgb(33, 33, 148);   
}
.heading1{
    font-size: 22px;color: purple;
}    
.heading2{
    font-size: 20px; background-color: yellow; color: goldenrod;
}    
.heading3{
    font-size: 30px; background-color: rgb(64, 153, 64); color:black;
}